@use "../common/index" as *;

.common {
  width: 100%;
  margin: 0 auto;
  padding: 0 clamp-calc(24px, 64px);
  max-width: 1480px;
}

.wide {
  width: 100%;
  margin: 0 auto;
  padding: 0 clamp-calc(12px, 40px);
  max-width: 1480px;
}

.slim {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 clamp-calc(24px, 64px);
}
