@use "../common/index" as *;

.footer {
  display: flex;
  border-top: solid 1px $c-bg-light;
  @include mq(pc) {
    padding: 24px 0;
  }
}

.copyright {
  text-align: center;
  font-size: 0.9rem;
  font-weight: 500;
}
