@use "../common/index" as *;

.header {
  display: flex;
  background-color: #fff;
  border-bottom: solid 1px $c-bg-light;
  @include mq(pc) {
    padding: 24px 0;
  }
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sitename {
  font-size: 1rem;
  font-weight: 600;
}

.naviList {
  list-style: none;
}
