@use "../common/index" as *;

.header {
  display: flex;
  position: sticky;
  top: -1px;
  z-index: 100;
}

.bg {
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(16px);
  z-index: -1;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $header-height;
}

.sitename {
  font-size: 1rem;
  font-weight: 600;
}

.naviList {
  list-style: none;
  display: none;
  @include mq(pc) {
    display: flex;
  }
  align-items: center;
  gap: 1rem;
}

.naviListItem {
  display: flex;
}
