@use "../common/index" as *;

.wrapper {
  display: flex;
  align-items: center;
  height: 120px;
  color: $c-text;
  border-radius: $radius;
  border: solid 1px $c-bg-dark;
  overflow: hidden;
  transition: 0.4s;
  line-height: 1.5;
  margin: 1.5rem auto;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  background-color: #fff;
  &:hover,
  &:focus {
    background-color: $c-bg-light;
    text-decoration: none !important;
  }
}

.metadata {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  height: 100%;
  padding: 0.8em 1.2em;
  min-width: 0;
}

.title {
  font-size: 0.9rem;
  @include mq(pc) {
    font-size: 1rem;
  }
  font-weight: 600;
  margin: 0;
  -webkit-line-clamp: 2;
  max-height: 3.05em;
  user-select: none;
  word-break: break-word;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.description {
  flex: 1;
  margin-top: 0.5em;
}

.p {
  font-size: 0.7rem;
  @include mq(pc) {
    font-size: 0.8rem;
  }
  color: $c-text-light;
  overflow: hidden;
  max-height: 1.55em;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.data {
  display: flex;
  align-items: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 0.7rem;
  @include mq(pc) {
    font-size: 0.8rem;
  }
}

.favicon {
  margin-right: 6px;
  flex-shrink: 0;
}

.imageContainer {
  @include mq(sponly) {
    width: 120px;
  }
  max-width: 200px;
  height: 120px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
