@use "./common/index" as *;

.article {
  width: 100%;
  background-color: $c-bg;
  padding-bottom: 3rem;
  @include mq(pc) {
    padding-bottom: clamp-calc(24px, 64px);
  }
}

.header {
  position: relative;
  padding-bottom: 3rem;
  text-align: center;
  @include mq(pc) {
    padding-bottom: clamp-calc(24px, 64px);
  }
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto 0;
  padding: 3rem clamp-calc(24px, 64px);
  @include mq(pc) {
    padding: clamp-calc(24px, 64px);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  }
  background-color: #fff;
  @include mq(pc) {
    border-radius: $radius;
  }
  a {
    text-decoration: none;
    text-underline-offset: 0.15em;
    transition: 0.25s;
    &:hover {
      text-decoration: underline;
    }
  }
}

.coverpicture {
  position: relative;
  display: block;
  width: 100%;
  padding-top: 56.25%;
  border-radius: $radius;
  & + .title {
    margin: 2rem auto 0;
  }
}

.coverimage {
  display: block;
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: $radius;
}

.body {
  & > :first-child {
    margin-top: 0;
  }
}

.title {
  display: inline-block;
  max-width: 1000px;
  text-align: left;
  font-size: 1.5rem;
}

.metas {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.25rem;
}

.categoryAnchor {
  text-decoration: none;
  display: flex;
}

.category {
  border-radius: 999px;
  background-color: #fff;
  border: solid 1px $c-bg-dark;
  padding: 0.4em 1em;
  font-size: clamp-calc(13px, 15px);
  color: $c-text-light;
  font-weight: 500;
  transition: 0.25s;
}

.time {
  font-size: clamp-calc(13px, 15px);
  color: $c-text-lighter;
  font-weight: 500;
}

.lead {
  margin-bottom: 3rem;
}

.tags {
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 0.25em 1em;
  padding-top: 2.5rem;
  border-top: 1px dashed $c-bg-dark;
}

.tagAnchor {
  display: flex;
  align-items: center;
  gap: 2px;
  color: $c-text-light;
  &:hover {
    color: $c-text-lighter;
  }
}

.tagItem {
  font-size: 0.9rem;
  font-style: italic;
}

.author {
  background-color: $c-bg-light;
  border-radius: $radius;
  overflow: hidden;
}

.authorTitle {
  background-color: $c-bg-dark;
  font-size: 1.1rem;
  padding: 0.5em 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  @include mq(pc) {
    justify-content: flex-start;
  }
  gap: 0.3em;
}

.authorBody {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  gap: 1rem;
  @include mq(pc) {
    gap: 0;
    flex-direction: row;
    justify-content: space-between;
  }
}

.authorProfile {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  @include mq(pc) {
    width: 180px;
  }
  align-items: center;
}

.authorImage {
  border-radius: 50%;
  @include mq(pc) {
    width: 120px;
  }
  width: 180px;
  max-width: 100%;
  height: auto;
}

.authorName {
  display: flex;
  flex-direction: column;
  align-items: center;
  .jp {
    font-weight: 600;
  }
  .en {
    font-weight: 400;
    font-size: 0.8em;
    color: $c-text-light;
  }
}

.authorDescription {
  display: flex;
  flex-direction: column;
  border-top: solid 1px $c-bg-dark;
  padding: 1rem 0.5em 0 0.5em;
  font-size: 0.9rem;
  @include mq(pc) {
    padding: 0 0 0 1.5em;
    width: calc(100% - 180px - 1.5em);
    border-top: none;
    border-left: solid 1px $c-bg-dark;
    justify-content: center;
  }
}

.authorLinks {
  margin-top: 0.5rem;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-size: 1.75rem;
}

.authorSns {
  a {
    color: $c-text-light;
    transition: color 0.25s;
    &:hover {
      .authorSns__twitter {
        color: rgba(29, 161, 242, 0.8);
        transition: color 0.25s;
      }
      .authorSns__instagram {
        color: rgba(207, 46, 146, 0.8);
        transition: color 0.25s;
      }
      .authorSns__youtube {
        color: rgba(218, 23, 37, 0.8);
        transition: color 0.25s;
      }
    }
  }
  &__twitter {
    transition: color 0.25s;
  }
  &__instagram {
    transition: color 0.25s;
  }
  &__youtube {
    transition: color 0.25s;
  }
}

.pnLinks {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1000px;
  margin: 3rem auto 0;
  padding: 0 clamp-calc(24px, 64px);
  @include mq(pc) {
    justify-content: space-between;
    margin: 2rem auto 0;
    padding: 0;
  }
  &__previous,
  &__next {
    flex-basis: 100%;
    @include mq(pc) {
      flex-basis: 47.5%;
    }
  }
  &__previous {
    .pnLinks__anchor {
      &:focus,
      &:hover {
        .pnLinks__arrow {
          left: -6px;
          width: 42px;
        }
      }
    }
    .pnLinks__label {
      margin-left: 52px;
    }
    .pnLinks__arrow {
      left: 0;
      &::before {
        left: 0;
        transform: rotate(-28deg);
      }
    }
    & + .pnLinks__next {
      margin-top: 2rem;
      @include mq(pc) {
        margin-top: 0;
      }
    }
  }
  &__next {
    @include mq(pc) {
      margin-top: 0;
      margin-left: auto;
    }
    text-align: right;
    .pnLinks__anchor {
      &:focus,
      &:hover {
        .pnLinks__arrow {
          right: -6px;
          width: 42px;
        }
      }
    }
    .pnLinks__label {
      margin-right: 52px;
    }
    .pnLinks__arrow {
      right: 0;
      &::before {
        right: 0;
        transform: rotate(28deg);
      }
    }
  }
  &__anchor {
    display: block;
    padding: 8px 0;
    position: relative;
    text-decoration: none;
    color: $c-text-lighter;
  }
  &__label {
    font-size: 0.9rem;
  }
  &__arrow {
    display: block;
    position: absolute;
    content: "";
    background-color: currentColor;
    height: 1px;
    width: 36px;
    top: calc(8px + 1rem);
    transition: 0.8s cubic-bezier(0.23, 1, 0.32, 1);
    &::before {
      display: block;
      position: absolute;
      content: "";
      height: 1px;
      top: -2px;
      width: 7px;
      background-color: currentColor;
    }
  }
  &__title {
    display: block;
    color: $c-text-light;
    margin-top: 3px;
    font-weight: 600;
  }
}

.figure {
  text-align: center;
  margin: 1.5rem auto;
  figcaption {
    font-size: 0.8em;
    color: $c-text-light;
    padding-top: 0.5rem;
  }
}

.img {
  width: fit-content;
  max-width: 100%;
  height: auto;
  vertical-align: top;
}
