@use "../styles/common/index" as *;

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  min-height: 100vh;
}

.main {
  background-color: $c-bg;
  padding-top: 3rem;
  padding-bottom: 3rem;
  @include mq(pc) {
    padding-top: clamp-calc(24px, 64px);
    padding-bottom: clamp-calc(24px, 64px);
  }
}
