@use "../styles/common/index" as *;

.main {
  background-color: $c-bg;
  padding-top: 3rem;
  padding-bottom: 3rem;
  @include mq(pc) {
    padding-top: clamp-calc(24px, 64px);
    padding-bottom: clamp-calc(24px, 64px);
  }
  min-height: calc(100vh - $header-height);
}
